.wrapper {
   width: 400px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   border: 1px solid rgb(229, 229, 229);
   text-align: center;
}
.filters {
   border-top: 1px solid rgb(230, 230, 230);
   font-size: 12px;
   display: flex;
   justify-content: space-between;
   padding: 3px;
   box-sizing: border-box;
   align-items: center;
   color: rgb(170, 170, 170);
   padding: 5px 12px 5px 12px;
   transition: all 0.3s ease;
   button {
      padding: 3px;
      border-radius: 5px;
      border: 1px solid transparent;
      cursor: pointer;
      color: rgb(170, 170, 170);
   }

   .active {
      transition: all 0.3s ease;
      border-color: rgb(209, 209, 209);
   }
}
